/* --------------------------------------------
* VARS
* -------------------------------------------- */
$color-green: #347033;
$color-purple: #7563a9;

/* --------------------------------------------
* --media queries
* -------------------------------------------- */
$break-sm: 576px;
$break-md: 768px;
$break-lg: 992px;
$break-xl: 1200px;
$break-xxl: 2000px;

/* --------------------------------------------
* --layout
* -------------------------------------------- */
$content-max-width: 1220px;
$page-max-width: 1740px;

// Media Query (Max-Width)
@mixin break-max($size) {
  @media (max-width: $size - 1) {
    @content;
  }
}

// Media Query (Min-Width)
@mixin break-min($size) {
  @media (min-width: $size) {
    @content;
  }
}

// Media Query (Min-Width) and (Max-Width)
@mixin break-min-max($min, $max) {
  @media (min-width: $min) and (max-width: $max - 1) {
    @content;
  }
}

/* --------------------------------------------
* FONTS
* -------------------------------------------- */
@font-face {
  font-family: Lovelace;
  src: url("../fonts/Lovelace-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Helvetica Neue";
  src: url("../fonts/HelveticaNeue-01.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

.lovelace {
  font-family: Lovelace, sans-serif;
}

/* --------------------------------------------
* GLOBAL
* -------------------------------------------- */
body {
  background: linear-gradient(212deg, #fff 0%, #f1eded 100%);
  color: $color-green;
  font-size: 30px;
}

body,
p,
ul,
main {
  font-family: "Helvetica Neue", sans-serif;
  font-weight: normal;
  line-height: 1.2;
}

html {
  scroll-behavior: smooth;
  position: relative;
  min-height: 100%;

  body {
    position: relative;
    overflow-x: hidden;
  }
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body > .container {
  max-width: 100%;
}

.container {
  margin: 0 auto;
  position: relative;
  z-index: 2;
  width: 100%;
  max-width: $page-max-width;
  padding: 50px 100px;
}

a {
  color: $color-green;
  text-decoration: none;
  border-bottom: 2px solid $color-green;
  transition: all 0.3s;
  cursor: pointer;
  &:hover,
  &:focus {
    color: $color-purple;
    border-color: $color-purple;
  }

  &.lovelace {
    border-bottom: none;
  }
}

/* --------------------------------------------
* MAIN STYLES
* -------------------------------------------- */

.container {
  .intro {
    font-size: 40px;
    font-weight: normal;
    padding-bottom: 120px;
  }

  .work {
    min-width: 400px;
    &__title {
      font-size: 36px;
      padding-bottom: 40px;
    }

    &__item {
      display: flex;
      padding-bottom: 50px;
      &__name {
        margin-right: 20px;
      }
      &__year {
        font-size: 16px;
        align-self: flex-end;
        padding-bottom: 5px;
      }
    }
  }

  .footer {
    font-size: 24px;
    padding-top: 50px;
    display: flex;
    justify-content: flex-end;
    a {
      border-bottom: none;
    }
    img {
      padding: 0 15px;
    }
  }

  .main-content {
    display: flex;
  }

  .images {
    position: relative;
    width: -webkit-fill-available;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    img {
      position: absolute;

      // *
      &:nth-child(1) {
        top: -40px;
        left: 20px;
      }
      // #
      &:nth-child(2) {
        top: -50px;
        left: 50%;
      }
      // 4 point star
      &:nth-child(3) {
        top: -100px;
        left: 80%;
      }
      // Star
      &:nth-child(4) {
        top: 80px;
        left: 40px;
      }
      // Heart
      &:nth-child(5) {
        top: 90px;
        left: 60%;
      }
      // Arrow
      &:nth-child(6) {
        top: 230px;
        left: 40%;
      }
      // Lightning
      &:nth-child(7) {
        top: 300px;
        left: 20px;
      }
      // Cloud
      &:nth-child(8) {
        top: 370px;
        left: 20%;
      }
      // &
      &:nth-child(9) {
        top: 350px;
        left: 70%;
      }
      // Spiral
      &:nth-child(10) {
        top: 300px;
        left: 87%;
      }
      // Eye
      &:nth-child(11) {
        top: 575px;
        left: 20px;
      }
    }
  }
}
