// VARS
$color-green: #347033;

html {
  scroll-behavior: smooth;
  position: relative;
  body {
    position: relative;
    overflow-x: hidden;
  }
}

body {
  background: linear-gradient(212deg, #fff 0%, #f1eded 100%);
  color: $color-green;
  font-size: 40px;
}
